* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  color: white;
  text-align: center;
  overflow-x: hidden;

  background: linear-gradient(135deg, #1a0000, #3b0000, #6b0000);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {background-position: 0%;}
  50% {background-position: 100%;}
  100% {background-position: 0%;}
}

/* PARTICLES */
#particles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}

/* CURSOR */
.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 15px red;
  z-index: 999;
}

/* CONTAINER */
.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

/* PROFILE */
.profile {
  width: 110px;
  border-radius: 50%;
  margin: 20px 0;
  border: 3px solid red;
  box-shadow: 0 0 25px red;
  animation: fadeDown 1s ease;
}

/* TEXT */
h1 {
  font-size: 28px;
}

.tag {
  opacity: 0.7;
  margin-bottom: 20px;
}

/* CARDS */
.card {
  background: rgba(0,0,0,0.6);
  padding: 20px;
  margin: 20px 0;
  border-radius: 15px;

  backdrop-filter: blur(10px);

  transition: 0.3s;
}

/* HOVER GLOW */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(255,0,0,0.6);
}

/* BUTTONS */
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons a {
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  color: white;

  background: linear-gradient(90deg, #ff1a1a, #800000);

  transition: 0.3s;
}

.buttons a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px red;
}

/* REVEAL ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* HEADER ANIM */
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}